@using WebApplication1.Web.Models
@{
    ViewBag.Title = "登录页";
    List<Info_User_Model> infoUserModels = ViewData["userList"] as List<Info_User_Model>;
}
@foreach (var item in  infoUserModels)
{
    <p>@item.UserName</p>
}
<style>
    .div{
    width: 300px;
    margin-left: 200px;
    }
</style>
<div>

    <form class="div">
        <div class="mb-3">
            <label class="form-label">手机号</label>
            <input type="text" class="form-control"  id="txtPhone">
        </div>
        <div class="mb-3">
            <label class="form-label">密码</label>
            <input type="password" class="form-control" id="txtPwd" >
        </div>
        <button type="button" class="btn btn-primary" onclick="login()">提交</button>
    </form>
</div>
<script >
async function login() {
    let data = {
        Phone: $("#txtPhone").val(),
        PassWord: $("#txtPwd").val()
    }
    const formData = new FormData();
    Object.keys(data).forEach((key) => {
        formData.append(key, data[key]);
    });
    const result = await fetch("/Login/GetLoginByPhone", {method: "post", body: formData}).then(result => result.json())
    if (result.type === "success") {
        // alert(result.message)
        window.location.href=result.reutrnUrl;
    }
}

</script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet"/>
@* 推荐使用这种 *@
@*<script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet"/>*@